@charset "UTF-8";

<style>
        body{
            background-color: #F2E3D5;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0px;
        }
        header{
            background-color: #026773;
            padding: 10px;
            margin: 10px;
            text-align: center;
            border-radius: 10px;
        }

        main{
            background-color: #F2E3D5;
            padding: 10px;
            margin: 10px;
            
        }
        
        article{
            background-color: #3CA6A6;
        }
        article > aside{
            background-color: #0393a3;
        }

        nav{
            background-color: #024959;
            padding: 3px;
           box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.479);
        }
        nav > a{
            text-decoration: none;
            color: white;
            font-weight: bold;
            margin-right: 30px;
        }
        #assuntos{
            background-color: #3CA6A6;
            padding: 3px;
            border-radius: 10px;
            

        }
        
        .artigo{
            border-radius: 10px;
            
        }    
         
        .aside{
            text-align: center;
            color: white;
        }


        .n{
            border-color: black;
            padding: 2px;
            border: 1px;
            border-radius: 10px;
        }
        .esportes{
            text-align: center;
            color: black;
        }
        
        .noticia{
            text-align: center;
            color: black;
            
        }
        
        footer{
            background-color: #012E40;
            text-align: center;
            color: white;
            padding: 1px;
        }
        footer > p {
            margin: 0px;
        }
    </style>